#header {
  position: relative;
  height: 100vh;
  background: black;
  overflow: hidden;

  & .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/opl-parallax-universe-2.jpg) center;
    background-size: cover; 
  }
  
}