::-webkit-selection {
  color: $color-white;
  background: $color-primary;
}

::-moz-selection {
  color: $color-white;
  background: $color-primary;
}
::selection {
  color: $color-white;
  background: $color-primary;
}